{% extends "parent.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <h1>Flotación de Espuma</h1>
    <p>

    Una de las mayores pérdidas es la creciente cantidad de sílice (SiO2) en el concentrado que sale de sus plantas
     de flotación. Las excursiones en los contratos y las rebajas de contenido de Fe tuvieron lugar en los últimos 12 meses, lo que representa más de $ 220 millones.
    Una gran preocupación es un retraso entre las muestras de laboratorio para medir los niveles de impurezas en el concentrado de salida. Si pudieran predecir los niveles de impurezas de SiO2 temprano, sus ingenieros podrían tomar medidas correctivas y garantizar que la calidad del producto siga siendo alta y ya no se desperdicie.
	</p>
{% endblock %}